body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0f0f0f;
  color:white;
}



/* SECCIONES */
.section{
  padding:30px;
}

.section h2{
  margin-bottom:20px;
  font-size:18px;
  color:#ccc;
}

/* GRID VIDEOS NORMALES */
.video-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
  gap:25px;
}

/* GRID SHORTS */
.shorts-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:25px;
}

/* TARJETAS */
.video-card{
  background:#181818;
  border-radius:12px;
  overflow:hidden;
  transition:0.3s;
  box-shadow:0 4px 15px rgba(0,0,0,0.4);
}

.video-card:hover{
  transform:scale(1.03);
}

/* VIDEO NORMAL */
.video-card iframe{
  width:100%;
  aspect-ratio:16/9;
  display:block;
  border:none;
}

/* SHORT */
.video-card.short iframe{
  aspect-ratio:9/16;
}

/* TÍTULO */
.video-card h3{
  padding:12px;
  font-size:14px;
  font-weight:normal;
}

.top-bar{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px 20px;
    background:#181818;
}

.back-btn{
    position:absolute;
    left:20px;
    padding:10px 20px;
    background:#fff;
    color:#000;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.top-bar h3{
    margin:0;
    font-size:24px;
}